:root {
  --primary: rgb(29, 161, 242);
  --primary-link: rgb(27, 149, 224);
  --primary-light: rgb(113, 201, 248);
  --hover-primary: rgba(29, 161, 242, 0.1);
  --hover-dark: rgb(26, 145, 218);
  --text: rgb(20, 23, 26);
  --background-light: rgb(245, 248, 250);
  --border-primary: rgb(101, 119, 134);
}
.App {
  width: 100%;
  height: 100%;
}
.logo {
  width: 40px;
  height: 40px;
}

/* ************************** Button Classes ************************** */
.btn {
  padding: 8px 12px;
  border: 1px solid none;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.4s;
}
.btn:focus {
  outline: none;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--hover-dark);
}
.btn-secondary {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}
.btn-secondary:hover {
  background-color: var(--hover-primary);
}
.btn-link {
  border: none;
  color: var(--primary);
}
.btn-link:hover {
  background-color: var(--background-light);
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.btn-signup {
  color: white;
  background-color: var(--primary) !important;
}

.btn-login:hover {
  background-color: var(--hover-primary);
}
.btn-signup:hover {
  background-color: var(--hover-dark) !important;
}

.btn-form {
  width: 100%;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
}
.btn-form:focus {
  outline: none;
}
.btn-form:hover {
  background-color: var(--hover-dark);
}

a {
  text-decoration: none;
  color: var(--primary-link);
}
a:hover {
  text-decoration: underline;
}

/*  ********************* Styling for Public Home *********************  */
.public-home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ******************* left Half ******************* */
.left-half {
  width: 50%;
  height: 100%;
  background-color: var(--primary-light);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.twitter-svg {
  width: 150vh;
  height: 150vh;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.twitter-info-container {
  width: fit-content;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.twitter-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  color: white;
  font-size: 24px;
  z-index: 100;
}
.twitter-info-svg {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

/* ******************* Right Half ******************* */
.right-half {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-half-inner {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.right-half-inner h1 {
  margin-bottom: 60px;
}
.right-half-inner p {
  margin-bottom: 15px;
  font-weight: 600;
}
.right-half-inner .btn {
  width: 90% !important;
  text-align: center;
}

/* ******************* Bottom Half ******************* */
.bottom-sign-buttons {
  display: none;
}

/* ********************* Styling for Login Page ********************* */
.auth-page {
  max-width: 600px;
  height: 100%;
  min-height: 400px;
  max-height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 30px;
  position: relative;
}
.auth-page h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  max-width: 600px;
  min-height: 400px;
  max-height: 90vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}
.auth-label {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-bottom: 2px solid var(--border-primary);
  border-radius: 2px;
  background-color: var(--background-light);
}
.auth-label:focus-within {
  color: var(--primary);
  border-color: var(--primary);
}
.auth-label-focus {
  color: var(--primary);
}
.auth-label input,
.auth-label select {
  width: 100%;
  max-width: 540px;
  height: 30px;
  outline: none;
  background-color: var(--background-light);
  border: none;
  font-size: 18px;
  color: var(--text);
  font-weight: 400;
  font-family: inherit;
}

/* ************************** Signup Page ************************** */
.signup-page {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.signup-popup {
  width: 600px;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  background-color: white;
  border-radius: 15px;
}
.signup-next {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 6px 16px;
}
.ca-heading {
  margin-top: 30px;
  margin-bottom: 20px;
}

.dob-info {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 15px;
}
.dob-info p {
  color: var(--text);
}

.word-counter {
  width: fit-content;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: -10px;
  margin-right: 10px;
}

.date-of-birth {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dob-c1 {
  width: 50% !important;
  margin-right: 15px;
}
.dob-c2 {
  width: 20% !important;
  margin-right: 15px;
}
.dob-c3 {
  width: 30% !important;
}
.signup-back {
  box-sizing: content-box;
  padding: 0;
  padding: 8px;
  position: absolute;
  top: 10px;
  left: 15px;
}

/* ******************* Media Queries ******************* */
@media (max-width: 800px) {
  .public-home {
    flex-direction: column-reverse;
    height: 100%;
  }
  .left-half {
    width: 100%;
    height: fit-content;
  }
  .right-half {
    width: 100%;
    height: fit-content;
    padding: 40px 0;
  }
  .twitter-info-container {
    width: fit-content;
  }
  .twitter-svg {
    width: 50vh;
    bottom: 10%;
    left: 80%;
  }
  .bottom-sign-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 15%;
    background-color: white;
  }
  .bottom-sign-buttons .btn {
    width: max-content;
    margin-right: 15px;
  }
}

@media (max-width: 600px) {
  .signup-popup {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@media (max-height: 600px) {
  .signup-popup {
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
